<h2>Edit driver details</h2>
<form action='/drivers/{{editDriver.id}}' method='post'>

  <label>Name:</label>
  <input type='text' name='name' value="{{editDriver.name}}" />

  <label>Last Name:</label>
  <input type='text' name='lastName' value="{{editDriver.lastName}}" />

  <label>Country:</label>
  <input type='text' name='country' value="{{editDriver.country}}" />

  <label>Number:</label>
  <input type='number' name='number' value="{{editDriver.number}}" />

  <label>Team:</label>
    <select name='team' id='teams' multiple>
    {{#each editTeam}}
      <option value='{{this.id}}'>{{this.teamName}}</option>
    {{/each}}
  </select>

  <label>Podiums:</label>
  <input type='number' name='podiums' value="{{editDriver.podiums}}" />

  <label>Won races:</label>
  <input type='number' name='wonRaces' value="{{editDriver.wonRaces}}" />

  <label>World Championships:</label>
  <input type='number' name='worldChampionships' value="{{editDriver.worldChampionships}}" />

  <label>Image:</label>
  <input type='text' name='imageUrl' value="{{editDriver.imageUrl}}" />

  <button type="submit">Update!</button>

  {{!-- <label>Title:</label>
  <input type='text' name='title' value='{{editDriver.title}}' />
  <label>Genre:</label>
  <input type='text' name='genre' value='{{editDriver.genre}}' />
  <label>Plot:</label>
  <input type='text' name='plot' value='{{editDriver.plot}}' />
  <label>Cast:</label>
  <select name='cast' id='cast' multiple>
    {{#each editCelebrity}}
      <option value='{{this.id}}'>{{this.name}}</option>
    {{/each}}
  </select>
  <button type='submit'>Update!</button> --}}
</form>