<form action='/teams/{{id}}/edit' method='GET'>
  <button type='submit'>Edit team</button>
</form>
<form action='/teams' method='GET'>
  <button type='submit'>Go back</button>
</form>
<h2>Team details:</h2>
<p>{{this.teamName}}</p>
<p>Base: {{base}}</p>
<p>Team Chief: {{teamChief}}</p>
<p>Drivers:</p>
<ul>
  {{#if drivers}}
    {{#each drivers}}
      <li>{{this.name}} {{this.lastName}}</li>
    {{/each}}
  {{/if}}
</ul>
<p>First Team entry: {{firstTeamEntry}}</p>
<p>World Championships: {{worldChampionships}}</p>
<img src='{{imageUrl}}' alt='{{teamName}}' />

<form action='/teams/{{id}}/delete' method='post'>
  <button type='submit'>Delete team</button>
</form>