<div class='container edit-driver'>
  <h2>Edit Grand Prix details</h2>
  <form action='/grand-prix/{{editTrack.id}}' method='post'>
    <div class='row mb-3'>
      <label for='inputGrandPrixName' class='col-sm-2 col-form-label'>Grand Prix
        name</label>
      <div class='col-sm-10'>
        <input
          type='text'
          name='name'
          class='form-control'
          id='inputName'
          value='{{editTrack.name}}'
        />
      </div>
    </div>
    <div class='row mb-3'>
      <label for='inputCircuitName' class='col-sm-2 col-form-label'>Circuit name</label>
      <div class='col-sm-10'>
        <input
          type='text'
          name='circuitName'
          class='form-control'
          id='inputCircuitName'
          value='{{editTrack.circuitName}}'
        />
      </div>
    </div>
    <div class='row mb-3'>
      <label for='inputLaps' class='col-sm-2 col-form-label'>Laps</label>
      <div class='col-sm-10'>
        <input
          type='number'
          name='laps'
          class='form-control'
          id='inputLaps'
          value='{{editTrack.laps}}'
        />
      </div>
    </div>
    <div class='row mb-3'>
      <label for='inputCircuitLength' class='col-sm-2 col-form-label'>Circuit
        Length</label>
      <div class='col-sm-10'>
        <input
          type='text'
          name='circuitLength'
          class='form-control'
          id='inputCircuitLength'
          value='{{editTrack.circuitLength}}'
        />
      </div>
    </div>
    <div class='row mb-3'>
      <label for='inputLapRecord' class='col-sm-2 col-form-label'>Lap record</label>
      <div class='col-sm-10'>
        <input
          type='text'
          name='lapRecord'
          class='form-control'
          id='inputLapRecord'
          value='{{editTrack.lapRecord}}'
        />
      </div>
    </div>
    <div class='row mb-3'>
      <label for='inputImage' class='col-sm-2 col-form-label'>Image</label>
      <div class='col-sm-10'>
        <input
          type='text'
          name='imageUrl'
          class='form-control'
          id='inputImage'
          value='{{editTrack.imageUrl}}'
        />
      </div>
    </div>
    <div class='edit-driver-button'>
      <button type='submit' class='btn btn-primary edit-button'>Edit</button>
    </div>
  </form>
</div>